.userCard__container {
  flex: 1 1 500px;
  max-width: 600px;
  height: 300px;
  /* border: solid 3px var(--dark-color); */
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 4px #000;
  transition: all 0.6s ease-out;
}

/* Anime différent éléments de la carte au moment de son survol */
.userCard__container:hover .userCard__overlayGradient {
  width: 101%;
  margin-left: -2px;
  border-right: solid 1px var(--dark-color);
  border-radius: 8px;
}

.userCard__container:hover {
  /* transform: scale(1.008); */
  box-shadow: 1px 1px 8px #000;
}

/* .userCard__container:hover .userCard__ctaContainer {
  width: 100%;
} */
/* Fin anime différent éléments de la carte au moment de son survol */

.userCard__overlayGradient {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.6s ease-in-out;
  border-right: solid 3px var(--dark-color);
}

.userCard__leftSide {
  flex: 0 0 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: solid 3px #000; */
}

.userCard__imageContainer {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: solid 3px var(--dark-color);
  overflow: hidden;
  z-index: 2;
}

.userCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userCard__contentContainer {
  padding: 16px;
  flex: 1 1 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.userCard__cardTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: end;
  background-color: var(--dark-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
  z-index: 1;
}

.userCard_faceBContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.userCard__commonText {
  color: var(--dark-color);
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.userCard__ctaContainer {
  position: absolute;
  display: flex;
  justify-content: end;
  gap: 8px;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: all 0.8s ease;
}

.userCard__cta {
  cursor: pointer;
}

.userCard__roleContainer {
  z-index: 2;
}

.userCard__role {
  /* flex: 1 1 48px; */
  min-width: 48px;
  font-size: 11px;
  padding: 2px 6px;
  border: solid 2px var(--dark-color);
  border-radius: 16px;
  background-color: var(--dark-color-low-opacity);
  color: rgba(256, 256, 256, 0.7);
  /* mix-blend-mode: difference; */
  text-align: center;
}

@media screen and (max-width: 840px) {
  .userCard__container {
    height: 200px;
    /* flex: 1 1 400px; */
  }

  .userCard__imageContainer {
    width: 48px;
    height: 48px;
  }

  .userCard__cardTitle {
    font-size: 1.4rem;
  }

  .userCard__commonText {
    font-size: 1rem;
  }
}
