.createUserModal__container {
  width: 600px;
  background-color: var(--dark-color-secondary);
  border-radius: 8px;
  padding: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: 2px 2px 8px #000;
}

.createUserModal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.createUserModal__formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.createUserModal__formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.createUserModal__formItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}

.createUserModal__formContainer > input {
  width: 100%;
}

.createUserModal__buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 840px) {
  .createUserModal__container {
    width: 60%;
    padding: 32px;
  }

  .createUserModal__formContainer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .createUserModal__container {
    width: 80%;
    padding: 32px 16px;
  }
}
